{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="mb-3">
	{{ form_label(form.email) }}
	{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	{{ form_errors(form.email) }}
</div>

<div class="mb-3">
	{{ form_label(form.roles) }}
	<div class="form-check">
		{% for choice in form.roles %}
			<div class="form-check">
				{{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
				{{ form_label(choice, null, {'label_attr': {'class': 'form-check-label'}}) }}
			</div>
		{% endfor %}
	</div>
	{{ form_errors(form.roles) }}
</div>

<div class="mb-3">
	{{ form_label(form.password) }}
	{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
	{{ form_errors(form.password) }}
</div>



<button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
