{{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
