{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="mb-3">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.prenom) }}
    </div>

    <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
