{% extends 'base.html.twig' %}

{% block title %}Détails du livre{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Details du livre {{livre.titre  }}</h1>
    <div class="livre">
        <p><strong>Titre:</strong> {{ livre.titre }}</p>
        <p><strong>Auteur:</strong> {{ livre.auteur }}</p>
        <p><strong>Code ISBN:</strong> {{ livre.codeIsbn }}</p>
        <p><strong>Résumé:</strong> {{ livre.resume }}</p>
    </div>
</div>
{% endblock %}
